/*footer {
    padding: 40px 0;

}

.footer-right a {
    margin-left: 20px;
}
.footer-left a {

    margin-right: 20px;
}


*/
p {
    font-size: small;
    font-style: normal;
    text-decoration-line:underline;
}