body {
    margin: 0;

}
* {
    box-sizing: border-box;
}
div.container {
    margin-left: 15%;
    width: 80%;
    height: 140%;
    margin-top: 5%;
    border: 6px solid #6385f6;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    top: -100px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}
@-webkit-keyframes slide {
    100% { top: 0; }
}

@keyframes slide {
    100% { top: 0; }
}

/*
.progress-bar {
    animation: progress-bar  20s linear forwards;
}
@keyframes progress-bar {
    from {
        width:100%;
    }
    to {
        width: 1%;
    }
}
*/
/*
div.container {
   margin-left:10%;
    width: 100%;
    height: 100%;
    margin-top: 400px;
    border: 6px solid #cdb8f3;
    border-radius: 25px;
    padding: 25px;
    transform: translateY(-50%);
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);

}
@-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}*/
p {
    font-family: 'Comic Sans MS';
    font-size: 2em;
}

#paragraph {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-size: 2em;
    color: red;
}
#card {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: -100px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}
@-webkit-keyframes slide {
    100% { top: 0; }
}

@keyframes slide {
    100% { top: 0; }
}

.question-number h2 {
    color: darkcyan;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom: 10px;
}

.h2 {
    color: #314547;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: "Comic Sans MS";

}

.h2 span {
    transition: all .3s;
}
.h2 span:hover{
    text-shadow: 0 0 10px #06f9fb,
    0 0 30px #06f9fb,
    0 0 80px #06f9fb;
    color:#fff;
}
.form-check button.correct {
    background-color: green;

}
.form-check button.wrong {
    background-color: red;

}
.form-check button.disabled {
    pointer-events: none;
}
#answers-tracker div {
    height: 40px;
    width: 40px;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;

}
#answers-tracker div.correct {
    background-color: green;
    background-image: url("/resources/img/correct.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#answers-tracker div.wrong {
    background-color: red;
    background-image: url("/resources/img/wrong.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.quiz-over-modal {
/*visibility: hidden;*/

}
.button #btn-next {
    padding: 10px 30px;
    background-color: darkcyan;
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;

}

img {
    border-radius: 15px;
    margin-left: 100px;
    height: 20%;
    width: 40%;
}
#modal_label{
    font-family: "Comic Sans MS";
    font-size: 1.5em;
}



