
div.container {
    margin-left: 15%;
    width: 80%;
    height: 100%;
    margin-top: 5%;
    border: 6px solid #eabd89;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    bottom: -500px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}
@-webkit-keyframes slide {
    100% { bottom: 0; }
}

@keyframes slide {
    100% { bottom: 0; }
}
p {
    font-family: 'Comic Sans MS';
    font-size: 2em;
}

.img-thumbnail {
    width: 30%;
    height: 20%;
    margin-left: 100px;
    position: relative;
    bottom: -300px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { bottom: 0; }
}

@keyframes slide {
    100% { bottom: 0; }
}

#card {
    margin-top: 20px;
}
.btn-primary {
    margin-top: 2%;
    float: right;
}
#label {
    font-size: 1.5em;
    font-family: 'Comic Sans MS';
    position: relative;
    bottom: -300px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { bottom: 0; }
}

@keyframes slide {
    100% { bottom: 0; }
}

.h2 {
    color: #314547;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: "Comic Sans MS";
}
.h2 span {
    transition: all.3s;
}
.h2 span:hover{
    text-shadow: 0 0 10px #06f9fb,
    0 0 30px #06f9fb,
    0 0 80px #06f9fb;
    color:#fff;
}
