div.container {
    margin-left:15%;
    width: 100%;
    height:80%;
    margin-top: 450px;
    border: 6px solid #cdb8f3;
    border-radius: 25px;
    transform: translateY(-50%);
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);

}
@-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
p {
    font-family: 'Comic Sans MS';
    font-size: 2em;
    position: relative;
    left: -100px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

#card {
    margin-top: 5%;
}
.btn-primary {
    margin-top: 20px;
    float: right;
}
#label {
    font-size: 1.5em;
    font-family: 'Comic Sans MS';
    position: relative;
    left: -400px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
.h2 {
    color: #000000;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: "Comic Sans MS";
}
.h2 span {
    transition: all.3s;
}
.h2 span:hover{
    text-shadow: 0 0 10px #06f9fb,
    0 0 30px #06f9fb,
    0 0 80px #06f9fb;
    color:#fff;
}
