div.container {
    margin-left: 20%;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    border: 6px solid #9feac9;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    right: -100px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

p {
    font-family: 'Comic Sans MS';
    font-size: 2em;
}
.img {
    width: 30%;
    height: 20%;
    margin-left: 100px;
    overflow: hidden;
    position: relative;
    right: -700px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}
#card {
    margin-top: 20px;
}
.btn-success {
    margin-top: 2%;
    float: right;

}
label {
    font-size: 1.5em;
    font-family: 'Comic Sans MS';
}
.h2 {
    color:#d1ecf1;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: "Comic Sans MS";
}
.h2 span {
    transition: all.3s;
}
.h2 span:hover{
    text-shadow: 0 0 10px #06f9fb,
    0 0 30px #06f9fb,
    0 0 80px #06f9fb;
    color:#fff;
}
a {
    color: white;
    text-decoration: none;
}

.form-check-input {
    margin-top: 60px;

}
.card {
    height: 150px;
}

