div.container {
    margin-left: 17%;
    width: 80%;
    height: 100%;
    margin-top: 5%;
    border: 6px solid #f5aab3;
    border-radius: 25px;
    position: relative;

    animation: showLeft 1s;

    z-index: 1;

}

@keyframes showLeft {

    from {left:-100%;}

    to {left:0;}
}

@keyframes showRight {

    from {right:-100%;}

    to {right:0;}
}
  /*  overflow: hidden;
    position: relative;
    top: -100px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}
@-webkit-keyframes slide {
    100% { top: 0; }
}

@keyframes slide {
    100% { top: 0; }
}
*/
p {
    font-family: 'Comic Sans MS';
    font-size: 2em;
}

.img-thumbnail {
    width: 40%;
    height: 20%;
    margin-left: 30%;
    overflow: hidden;
    position: relative;
    top: -100px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
}
@-webkit-keyframes slide {
    100% { top: 0; }
}

@keyframes slide {
    100% { top: 0; }

}
#card {
    margin-top: 20px;

}

.btn-danger {
    margin-top: 2%;
    float: right;
}
#label {
    font-size: 1.5em;
    font-family: 'Comic Sans MS';
}

.h2 {
    color: #e71616;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: "Comic Sans MS";
}
.h2 span {
    transition: all.3s;
}
.h2 span:hover {
    text-shadow: 0 0 10px #f50a0a,
    0 0 30px #e11717,
    0 0 80px #dc1835;
    color: #090808;
}