
div.container {
    margin-left:10%;
    width: 80%;
    height: 85%;
    margin-top: 400px;
    border: 6px solid #cdb8f3;
    border-radius: 25px;
    transform: translateY(-50%);
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);

}
@-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
p {
    font-family: 'Comic Sans MS';
    font-size: 2em;
}
#logo1 {
    width: 200px;
    height: 100px;
}

#logo2 {
    width: 200px;
    height: 100px;
}
#paragraph {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-size: 2em;
    color: red;
}
#card {
    margin-top: 20px;
}
.btn-primary {
    margin-top: 20px;
    float: right;
}
#label {
    font-size: 1.5em;
    font-family: 'Comic Sans MS';
}

.h2 {
    color: #314547;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: "Comic Sans MS";
}
.h2 span {
    transition: all.3s;
}
.h2 span:hover{
    text-shadow: 0 0 10px #06f9fb,
    0 0 30px #06f9fb,
    0 0 80px #06f9fb;
    color:#fff;
}
