* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS",sans-serif;
}
.wrap {

}
.container {
    max-width: 720px;
    margin: 100px auto;
    text-align: center;
    display:flex;
    flex-direction: column;


}
h1 {
    font-size: 40px;

}
.countdown {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

span {
    display: flex;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin:0 auto;

}
.header {
    display: inline-block;

}
.loader {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
   /* position: absolute;*/
    top: 0;
    left: 0;
    z-index: 2;
}

.loader {
    width: 150px;
    height: 150px;
    animation: 5s linear infinite countdown-rotation;
}

.loader:before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 5px solid transparent;
    border-top-color: #4CAF50;
    border-radius: 50%;
    animation: 2s linear infinite loader-before-rotation;
}

.loader:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 5px solid transparent;
    border-top-color: #4CAF50;
    border-radius: 50%;
    animation: 2s linear loader-after-rotation;
}

@keyframes loader-rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(360deg); }
    75% { transform: rotate(720deg); }
    100% { transform: rotate(1080deg); }
}

@keyframes loader-before-rotation {
    0% { transform: rotate(0deg); }
    9.9% { border-left-color: transparent; }
    10% { transform: rotate(90deg); border-left-color: #4CAF50; }
    20% { transform: rotate(180deg); border-left-color: #4CAF50; }
    30% { transform: rotate(180deg); border-left-color: #4CAF50; }
    39.9% { transform: rotate(180deg); border-left-color: #4CAF50; }
    40% { transform: rotate(180deg); border-left-color: transparent; }
    50% { transform: rotate(180deg); border-left-color: transparent; }

    59.9% { border-left-color: transparent; }
    60% { transform: rotate(270deg); border-left-color: #4CAF50; }
    70% { transform: rotate(360deg); border-left-color: #4CAF50; }
    80% { transform: rotate(360deg); border-left-color: #4CAF50; }
    89.9% { transform: rotate(360deg); border-left-color: #4CAF50; }
    90% { transform: rotate(360deg); border-left-color: transparent; }

    100% { transform: rotate(360deg); border-left-color: transparent}
}

@keyframes loader-after-rotation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(100deg); }
    50% { transform: rotate(180deg); }

    60% { transform: rotate(180deg); }
    70% { transform: rotate(180deg); }
    80% { transform: rotate(180deg); }
    90% { transform: rotate(280deg); }

    100% { transform: rotate(360deg); }
}